<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <%- include ('./partials/head.ejs', {page: 'Recipe Blog' }) %> <%- include
  ('./partials/nav.ejs') %>
  <body>
    <div>
      <h1 class="gen-heading"><%= category %></h1>
      <main class="recipe-index-container">
      <% for(let idx=0; idx < foundCategory.length; idx++){ %>
      <div>
        <div>
          <div>
            <div>
                <a href="/recipeblog/<%= foundCategory[idx].title %>">
              <img src="<%= foundCategory[idx].image %>" class="recipe-image" />
            </a>
            </div>

            <div>
              <h2>
                <a
                  href="/recipeblog/<%= foundCategory[idx].title %>"
                  class="recipe-heading"
                  ><%= foundCategory[idx].title %></a
                >
              </h2>
            </div>

            <div><%= foundCategory[idx].description %></div>
          </div>
        </div>
      </div>
      <% } %>
    </main>
    </div>
  </body>
</html>
