<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <%- include ('./partials/head.ejs', {page: 'Recipe Blog' }) %> <%- include
  ('./partials/nav.ejs') %>
  <body>
    <h1 class="recipe-heading center-text" style="margin-top : 30px"">
      <%= foundRecipe.title %>
      <span class="user-tag">by <%= foundRecipe.user %></span>
    </h1>
    <div class="recipe-show-image-container">
      <img src="<%= foundRecipe.image %>" class="recipe-show-image" />
    </div>
    <p class="recipe-show-description"><%= foundRecipe.description %></p>
    <div class="buttons-box">
      <button class="button-style edit-button">
        <a href="/recipeblog/<%= foundRecipe.title%>/edit">Edit</a>
      </button>
      <form
        action="/recipeblog/<%= foundRecipe.title%>?_method=DELETE"
        method="POST"
      >
        <button class="button-style delete-button">Delete</button>
      </form>
    </div>
    <hr>
    <div class="recipe-flex-container">
      <div style="margin-right: 70px">
        <h3 class="gen-heading">Ingredients:</h3>
        <ul>
          <% for(let idx=0; idx < foundRecipe.ingredients.length; idx++){ %>
          <li><%= foundRecipe.ingredients[idx]%></li>
          <%}%>
        </ul>
      </div>
      <div>
        <h3 class="gen-heading">Preperation:</h3>
        <ul>
          <% for(let idx=0; idx < foundRecipe.recipe.length; idx++){ %>
          <li><%= foundRecipe.recipe[idx]%></li>
          <%}%>
        </ul>
      </div>
    </div>
    <hr />
    <div class="form-border">
      <form action="/recipeblog/<%= foundRecipe.title %>" method="POST">
        <fieldset>
          <div class="post-heading">
            <legend class="sub-heading">Have you cooked this recipe?</legend>
            <span class="weak-heading"
              >Leave a review and let us know what you think!</span
            >
          </div>
          <input type="hidden" name="recipe" value=" <%= foundRecipe._id %> " />
          <div class="post-inputs">
            <label class="post-label" for="text">User</label>
            <input
              class="recipe-input"
              name="user"
              type="text"
              id="text"
              placeholder="Your name"
            />
          </div>
          <div class="post-inputs">
            <label class="post-label" for="text">Headline</label>
            <input class="recipe-input" name="title" type="text" id="text" />
          </div>
          <div class="post-inputs">
            <label class="post-label" for="text">Rating</label>
            <input
              class="recipe-input"
              name="rating"
              type="number"
              id="number"
              placeholder="1-5"
            />
          </div>
          <div class="post-inputs">
            <label class="post-label" for="text">Comment</label>
            <input class="recipe-input" name="comment" type="text" id="text" />
          </div>
          <input
            class="recipe-input"
            type="hidden"
            name="_id"
            value=""
            ="foundRecipe._id"
          />
          <div class="center-text">
            <button class="button-style" type="submit">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div>
      <% for (let i = 0; i < foundRecipe.review.length; i++) { %>
      <div>
        <% if (foundRecipe.review.length < 1) { %> <%
        console.log(foundRecipe.review.length)%>
        <h3>No Reviews Yet.</h3>
        <% } else { %>
        <div>Rating: <%= foundRecipe.review[i].rating %></div>
        <div>User: <%= foundRecipe.review[i].user %></div>
        <div>Headline: <%= foundRecipe.review[i].title %></div>
        <div>Comment: <%= foundRecipe.review[i].comment %></div>
      </div>
      <% } %> <% } %>
    </div>
  </body>
</html>
